.banner {
  position: relative;
  z-index: 1;
  padding-top: 56.25%;

  &__container {
    position: absolute;
    width: 255px;
    height: 360px;
    background-color: #86D3F4;
    top: 25%;
    right: 0;
    @media (max-width: 992px) {
      width: 205px;
      height: 310px;
      top: 15%;
    }
    @media (max-width: 768px) {
      width: 165px;
      height: 250px;
      top: 10%;
    }
    @media (max-width: 480px) {
      width: 132px;
      height: 200px;
      top: 0;
    }
  }

  &__body {
    padding: 20px 10px 0 10px;
    text-align: center;
    @media (max-width: 992px) {
      padding: 10px 5px 0 5px;
    }
    @media (max-width: 768px) {
      padding: 5px 5px 0 5px;
    }
  }

  h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 20px;
    @media (max-width: 992px) {
      font-size: 12px;
      line-height: 17px;
      padding-bottom: 10px;
    }
    @media (max-width: 768px) {
      padding-bottom: 5px;
    }
    @media (max-width: 480px) {
      line-height: 13px;
    }
  }

  img {
    @media (max-width: 768px) {
      width: 65%;
    }
    @media (max-width: 480px) {
      width: 45%;
    }

  }

  p {
    max-width: 140px;
    font-size: 14px;
    line-height: 16px;
    margin: 0 auto;
    padding: 20px 0;
    @media (max-width: 992px) {
      font-size: 12px;
      line-height: 14px;
      padding: 10px 0;
    }
    @media (max-width: 768px) {
      padding: 5px 0;
    }
  }

  &__btn {
    color: #86D3F4;
    background-color: #000000;
    width: 156px;
    height: 52px;
    @media (max-width: 992px) {
      width: 94px;
      height: 42px;
    }
    @media (max-width: 992px) {
      width: 75px;
      height: 33px;
    }
  }
}

